{
  "presets": [
    "env"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    [
      "import",
      {
        "libraryName": "ramda",
        "libraryDirectory": "src"
      }
    ]
  ],
  "ignore": [
    "vnode/outStrictMode.js"
  ]
}