{
  "env": {
    "cjs": {
      "plugins": [
        [
          "transform-es2015-modules-commonjs",
          {
            "strict": true
          }
        ]
      ]
    },
    "es": {
      "plugins": [
      ]
    },
    "webpack": {
      "presets": [
        "env"
      ],
      "plugins": [
        "transform-react-jsx",
        [
          "transform-runtime",
          {
            "helpers": false,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
          }
        ],
        [
          "import",
          {
            "libraryName": "ramda",
            "libraryDirectory": "src"
          }
        ]
      ]
    }
  }
}