{
  "presets": [
    "env"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    [
      "import",
      {
        "libraryName": "ramda",
        "libraryDirectory": "src"
      }
    ]
  ],
  "ignore": [
    "vnode/outStrictMode.js"
  ],
  "env": {
    "cjs": {
      "plugins": [
        [
          "transform-es2015-modules-commonjs",
          {
            "strict": true
          }
        ]
      ]
    },
    "es": {
      "plugins": [
      ]
    }
  }
}