@charset "UTF-8";
@mixin makeContainer($container_name) {
  #{$container_name} .animation-item {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    transition-timing-function: linear;
    transition: 1.4s;

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
      z-index: 3;
      box-sizing: border-box;
    }

    .child {
      background-size: cover;
      display: block;
      position: absolute;
      z-index: 1;
      background-position: 50% 50%;
    }
  }
}

@include makeContainer('.wrap-contain')

.child {
  background-image: url("http://7xse2z.com1.z0.glb.clouddn.com/257453.jpg");
}

html, body, #app {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}